body {
    background: linear-gradient(rgb(0, 183, 255), rgb(1, 87, 145), rgb(2, 1, 109));
    height: 100vh;
}



h1 {
    color: white;
    font-family: hanalei;
    text-align: center;
    margin-top: 7vh;
    font-size: 5vw;
}

p {
    color: white;
    font-size: 2vw;
    text-align: center;
    font-family: indie flower;
}

#sbinit {
    align-self: center;
    width: 91vh;
    margin-top: 5%;
}

.result {
    margin-top: 5%;
    color: white;
    background-image: url("../media/spongebobchicken.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: impact;
    font-size: 5vw;
}